<% layout('layout') -%>

<% block('title','Here is title'); -%> 

<% block('footer','Here is footer'); -%> 

<% block('header','Here is header'); -%> 
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
<p>Welcome to
  <%= title %>
</p>
