<head>
    <title><%=blocks.title%></title>    
    <link rel="stylesheet" href="/stylesheets/layout/layout.css"/>    
</head>
<body id="blizzhelp_body">
<header>
    <%-blocks.header%>
</header>
<section class="container">    

    <h1><%=blocks.title%></h1>

    <%-body %>
</section>
<footer>
    <%-blocks.footer%>
</footer>
</body>