<head>
    <title><%=blocks.title%></title>    
    <link rel="stylesheet" href="/stylesheets/layout/blizzhelp_layout.css"/>    
</head>
<body id="blizzhelp_body">
<header id="header">
    <%-blocks.header%>
</header>
<div id="main">    

    <h1><%=blocks.title%></h1>

    <%-body %>
</div>
<footer>
    <%-blocks.footer%>
</footer>
</body>