extends ../layout.pug

block stylesheets
    link(rel="stylesheet", href="/stylesheets/main/main.css")   

block title
     |Welcome to Blizzhelp

block title_main
    h1
        |Welcome to Blizzhelp

block footer
    p Here is footer
block body
    div(id="App")
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}
    p WoW pages in #{title}

